html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Roboto", sans-serif;
    color: #757575;
}

p {
    font-weight: 700;
}

footer {
    height: auto;
}
/* 
hr {

} */

.photo-name {
    display: inline-flex;
    margin-top: 25px;
}

.photo-name>img {
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    width: 97px;
    height: 113px;
    margin-bottom: 15px;
}

.photo-name>h2 {
    padding-left: 16px;
    margin-top: -10px !important;
}

.badge {
    width: 3em;
    height: 4em;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: 0.5em;
}

.skills-title {
    margin-bottom: 0px !important;
}

.skill-label {
    grid-column: span 2;
}

.skills>h5 {
    grid-column: span 6;
    text-decoration: underline;
    margin-top: 2em !important;
}

.languages {
    margin-top: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;

}

.label {
    text-decoration: underline;
    font-size: 17px;
    padding-right: 10px;
    grid-column: 1/1;
}

.content {
    grid-column: span 3;
}

.languages>p {
    margin: 0px;
    padding-bottom: 15px;
}

.card-overflow {
    max-height: 19em;
    overflow: auto;
}